<aside ...attributes>
  {{log 'users' @model}}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Age</th>
      </tr>
    </thead>
    {{#each @model as |user|}}
    <tbody>
      <tr class="a2" {{action 'link' user.id}}>
        <td>{{user.id}}</td>
        {{!-- <LinkTo @route="users.user" @model={{user.id}}> --}}
        <td>{{user.name}}</td>
        {{!-- </LinkTo> --}}

        <td> {{user.date}}</td>
        <td>{{user.age}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</aside>
{{yield}}