<style>
  body {
    background: #100436 url(https://ramki-vsem.ru/fony/fioletovyj-fon19.jpg);
    color: rgb(255, 255, 255);
    /* Цвет текста */
  }
</style>

<h2 align="center">Page Users</h2>

<div class="button-center">
<button type="submit" class="btn btn-xl btn-primary mr-2" {{action "showModal"}}>
  Create User
</button>
</div>

<BsModal @open={{isShowModal}} @onSubmit={{action "submit"}} @onHidden={{action (mut isShowModal) false}} as |modal|>
  <modal.header>
    <div class="a1">
      <h4 class="modal-title">
        New User
      </h4>
    </div>
  </modal.header>
  <modal.body>
    <form class="form" {{action "submit" on="submit"}}>
      <div class="form-group">
        <label class="sr-only" for="id">Id</label>
        {{log user}}
        {{input type="text" class="form-control mb-2 mr-sm-2" id="id" placeholder="id" value=user.id}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="name">Name</label>
        {{input type="text" class="form-control mb-2 mr-sm-2" id="name" placeholder="name" value=user.name}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        {{input type="password" class="form-control mb-2 mr-sm-2" id="password" placeholder="password" value=user.password}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        {{input type="text" class="form-control mb-2 mr-sm-2" id="email" placeholder="email" value=user.email}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="gender">Gender</label>
        {{input type="text" class="form-control mb-2 mr-sm-2" id="gender" placeholder="f/m" value=user.gender}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="age">DOB</label>
        <PowerDatepicker @selected={{selected}} @onSelect={{action (mut selected) value="date"}} as |dp|>
          <dp.Trigger tabindex="-1">
            {{input type="date" class="form-control mb-2 mr-sm-2" id="DOB" placeholder="DOB" value=user.DOB}}
          </dp.Trigger>

          <dp.Content class="demo-datepicker-small">
            <dp.Nav />
            <dp.Days />
          </dp.Content>
        </PowerDatepicker>
        {{!-- {{input type="date" class="form-control mb-2 mr-sm-2" id="DOB" placeholder="DOB" value=user.DOB}} --}}
      </div>
    </form>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action showModal}}>Cancel</BsButton>
    <BsButton @type="primary" @onClick={{action submit}}>
      {{log createUserPromise.isPending}}
      {{log "createUserPromise" createUserPromise}}
      {{#if createUserPromise.isPending}}
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      {{else}}
      Submit
      {{/if}}

    </BsButton>
  </modal.footer>
</BsModal>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Age</th>
    </tr>
  </thead>
  {{#each @model as |user|}}
  <tbody>

    <tr>

      <td class="a2">{{user.id}}</td>

      <LinkTo @route="users.user" @model={{user.id}}>
          <td class="a3">{{user.name}}</td>
      </LinkTo>

      <td class="a2">

        {{user.date}}
      </td>
      <td class="a2">
        {{user.age}}
      </td>
    </tr>

  </tbody>
  {{/each}}
</table>