<style>
  body {
    background: #100436 url(https://ramki-vsem.ru/fony/fioletovyj-fon19.jpg);
    color: rgb(255, 255, 255);
    /* Цвет текста */
  }
</style>
<h2 align="center">Page Tasks</h2>

<div class="button-center">
  <button type="submit" class="btn btn-xl btn-primary mr-2" {{action "showModal"}}>
    Create task
  </button>
</div>

<BsModal @open={{isShowModal}} @onSubmit={{action "submit"}} @onHidden={{action (mut isShowModal) false}} as |modal|>
  <modal.header>
    <div class="a1">
      <h4 class="modal-title">
        New Task
      </h4>
    </div>
  </modal.header>
  <modal.body>
    <form class="form" {{action "submit" on="submit"}}>
      <div class="form-group">
        <label class="sr-only" for="id">Id</label>
        {{input type="number" class="form-control mb-2 mr-sm-2" id="id" placeholder="id" value=task.id}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="name">Title</label>
        {{input type="text" class="form-control mb-2 mr-sm-2" id="name" placeholder="title" value=task.title}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Status</label>
        {{input type="text" class="form-control mb-2 mr-sm-2" id="password" placeholder="status" value=task.status}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="email">Result</label>
        {{input type="number" class="form-control mb-2 mr-sm-2" id="email" placeholder="result" value=task.result}}
      </div>
      <div class="form-group">
        <label class="sr-only" for="gender">Time</label>
        {{input type="number" class="form-control mb-2 mr-sm-2" id="gender" placeholder="time" value=task.time}}
      </div>
    </form>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action showModal}}>Cancel</BsButton>
    <BsButton @type="primary" @onClick={{action submit}}>
      {{log createTaskPromise.isPending}}
      {{log "createTaskPromise" createTaskPromise}}
      {{#if createTaskPromise.isPending}}
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      {{else}}
      Submit
      {{/if}}
    </BsButton>
  </modal.footer>
</BsModal>
<TableTasks @model={{@model}} @linkTasks={{action 'linkToTask'}}/>
{{!-- <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Title</th>
    </tr>
  </thead>
  {{#each @model as |task|}}
  <tbody>
    <tr>
      <LinkTo @route="users.user.missions.mission.tasks.task" @model={{task.id}}>
        <td class="a3">{{task.id}}</td>
      </LinkTo>
      <td class="a2">{{task.title}}</td>
    </tr>
  </tbody>
  {{/each}}
</table> --}}